.blog {
  //! Сетка
  &--grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.75fr;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 30px;
  }

  //! Список статей на главной странице
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-card {
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      margin: 0;
    }

    &__image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 12px;

      img {
        width: inherit;
        height: inherit;
        object-position: center;
        object-fit: cover;
      }
    }

    &__author-photo {
      display: none;
      border-radius: 50%;
      margin-right: 16px;
    }

    &__category {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      background-color: lighten($accent, 55%);
      color: $accent;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__author {
      font-size: 12px;
      margin-right: 16px;
    }

    &__date {
      font-size: 12px;
    }
  }

  &__item {
    //! Большая карточка
    &--big {
      color: white;

      .blog-card {
        padding: 24px;
        justify-content: space-between;
        height: 100%;
      }

      .blog-card__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }

      .blog-card__author-photo {
        display: inline-block;
      }
    }

    &--medium {
      .blog-card__image {
        height: 180px;
        margin-bottom: 24px;
      }

      .blog-card__title {
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
        margin: 16px 0;
      }
    }

    &--small {
      .blog-card {
        flex-direction: row-reverse;
        align-items: center;
      }

      .blog-card__category {
        display: none;
      }

      .blog-card__image {
        height: 96px;
        width: 96px;
        flex-basis: 96px;
      }

      .blog-card__info {
        flex-basis: calc(100% - 96px);
        padding-right: 25px;
      }

      .blog-card__title {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }

  &__item:first-child {
    grid-row: 1/5;
  }

  &__item:nth-child(2) {
    grid-row: 1/5;
  }
}
