.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $dark;
  }
}
